<div class="dropdown dropdown-access">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="profile_link">Welcome, {{ app.user.username }}</a>
	<div class="dropdown-menu user">
		<a href="{{ path('odiseo_user_profile_show') }}" class="btn_full">View profile</a>
		<a href="{{ path('odiseo_security_logout') }}" class="btn_full_outline">Logout</a>
	</div>
	{% else %}
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Sign in / Sign Up</a>
	<div class="dropdown-menu">
		<form action="{{ path("odiseo_security_check") }}" method="post">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			<!-- <div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<a href="#" class="bt_facebook">
						<i class="icon-facebook"></i>Facebook
					</a>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<a href="#" class="bt_paypal">
						<i class="icon-paypal"></i>Paypal 
					</a>
				</div>
			</div>
			<div class="login-or">
				<hr class="hr-or">
				<span class="span-or">or</span>
			</div> -->
			<div class="form-group">
				<input type="text" class="form-control" name="_username" id="inputUsernameEmail" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="_password" id="inputPassword" placeholder="Password">
			</div>
			<a id="forgot_pw" href="#">Forgot password?</a>
			
			<input type="submit" name="_submit" value="Sign in" id="Sign_in" class="button_drop">
			<a href="{{ path('fos_user_registration_register') }}" id="Sign_up" class="button_drop outline">Sign up</a>
		</form>
	</div>
	{% endif %}
</div><!-- End Dropdown access -->