{% extends 'OdiseoUserBundle:Frontend:layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<section id="hero" class="login">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div id="login">
					<div class="text-center err"><img src="{{ asset('bundles/odiseoadscandy/img/logo_sticky.png') }}" alt="" data-retina="true" ></div>
					<hr>
					<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
						{{ form_widget(form) }}
						
						<input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn_full" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}