{% extends 'OdiseoLokalBuddyBundle:Frontend:layout.html.twig' %}
{% trans_default_domain "howitworks" %}
{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('bundles/odiseolokalbuddy/js/web/index.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container margin_60 howitworks">
	<div class="row">        
        <aside class="col-lg-3 col-md-4 col-sm-4">
        </aside>
        <div class="col-lg-9 col-md-8 col-sm-8">
       		<div class="row">
            	<div class="col-md-12">
            		<h2><span>{{ 'odiseo.lokalbuddy.how_it_works'|trans }}</span></h2>
            	</div>
            </div><!-- Edn row -->                                 
        </div><!-- End col-lg-9-->
    </div>
	<div class="row">        
        <aside class="col-lg-3 col-md-4 col-sm-4">
			<div class="row">
				<div class="col-md-12">
		           	<h4 class="sidebarTitle"><span>{{ 'odiseo.lokalbuddy.info'|trans }}</span></h4>
		           	<div class="box_style_cat">
			       		<ul id="cat_nav">
			            	<li>
			            		<a id=dropdown data-toggle="collapse" href="#collapseHowWorks" aria-expanded="false" aria-controls="collapseHowWorks">{{ 'odiseo.lokalbuddy.how_it_works'|trans }}</a>
			            		<ul class="collapse" id="collapseHowWorks">
					                <li><a href="#">{{ 'odiseo.lokalbuddy.for_host'|trans }}</a></li>
					                <li><a href="#">{{ 'odiseo.lokalbuddy.for_travelers'|trans }}</a></li>
			            		</ul>
			            	</li>
			            	<li>
			            		<a id=dropdown data-toggle="collapse" href="#collapseFaq" aria-expanded="false" aria-controls="#collapseFaq">FAQ</a>
			            		<ul class="collapse" id="collapseFaq">
					                <li><a href="#">{{ 'odiseo.lokalbuddy.for_host'|trans }}</a></li>
					                <li><a href="#">{{ 'odiseo.lokalbuddy.for_travelers'|trans }}</a></li>
			            		</ul>
			            	</li>
			                <li><a href="#" id=dropdown>{{ 'odiseo.lokalbuddy.terms'|trans }}</a></li>
			                <li><a href="#" id=dropdown>{{ 'odiseo.lokalbuddy.contact'|trans }}</a></li>
			            </ul>
		            </div>
				</div>
 			</div><!-- Edn row -->
            
			<div class="row">
				<div class="col-md-12">
		           	<h4 class="sidebarTitle"><span>{{ 'odiseo.lokalbuddy.about_lokal'|trans }}</span></h4>
		          	<div class="box_style_cat">
			       		<ul id="cat_nav">
			                <li><a href="#" id=dropdown>{{ 'odiseo.lokalbuddy.what_is'|trans }}</a></li>
			                <li><a href="#" id=dropdown>{{ 'odiseo.lokalbuddy.why'|trans }}</a></li>
			                <li><a href="#" id=dropdown>{{ 'odiseo.lokalbuddy.team'|trans }}</a></li>
			            </ul>
		            </div>
				</div>
			</div><!-- Edn row -->
		            
		    <div class="row">
				<div class="col-md-12">
		            <div class="box_style_2">
		                 <i class="icon_set_1_icon-57"></i>
		                 <h4>{{ 'odiseo.lokalbuddy.need'|trans }}<span> {{ 'odiseo.lokalbuddy.help'|trans }}</span></h4>
		                     <a href="tel://004542344599" class="phone">+45 423 445 99</a>
		                 <small>{{ 'odiseo.lokalbuddy.days_atention'|trans }} 9.00am - 7.30pm</small>     
		            </div>  
				</div>
			</div><!-- Edn row -->
        </aside>
        
        <div class="col-lg-9 col-md-8 col-sm-8">
			<div class="row">
				<div class="col-md-12">
                <!-- Headings & Paragraph Copy -->         
                  <h2>{{ 'odiseo.lokalbuddy.heading1'|trans }}<span> {{ 'odiseo.lokalbuddy.heading1_span'|trans }}</span></h2>
                  	<p>{{ 'odiseo.lokalbuddy.text1'|trans }}</p>
                  <h2>{{ 'odiseo.lokalbuddy.heading2'|trans }}</h2>
                  	<p>{{ 'odiseo.lokalbuddy.text2'|trans }}</p>
t                 <h2>{{ 'odiseo.lokalbuddy.heading3'|trans }}</h2>
                  	<p>{{ 'odiseo.lokalbuddy.text3'|trans }}</p>
                  <br>
				</div>
			</div><!-- Edn row -->
                                 
        </div><!-- End col-lg-9-->
	</div>
</div><!-- End container -->
{% endblock %}