{% extends 'OdiseoLokalBuddyBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('bundles/odiseolokalbuddy/js/web/index.js') }}"></script>
{% endblock %}
  
{% block slider %}
<!-- Slider -->
<div class="tp-banner-container">
	<div class="tp-banner">
		<ul>
			<!-- SLIDE 1 -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/odiseolokalbuddy/img/slides_bg/dummy.png')}}" alt="slidebg1" data-lazyload="http://lorempixel.com/1600/622/city/" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
			</li>
			<!-- SLIDE 2 -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 2">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/odiseolokalbuddy/img/slides_bg/dummy.png')}}" alt="slidebg1" data-lazyload="http://lorempixel.com/1600/622/city/?v2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
			</li>
			<!-- SLIDE 3 -->
			<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Slide 3">
				<!-- MAIN IMAGE -->
				<img src="{{ asset('bundles/odiseolokalbuddy/img/slides_bg/dummy.png')}}" alt="slidebg1" data-lazyload="http://lorempixel.com/1600/622/city/?v3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
			</li>
		</ul>
		<div class="tp-static-layers">
			<!-- LAYER NR. 1 -->
			<div class="tp-caption white_heavy_40 customin text-center text-uppercase tp-static-layer" 
				data-x="center" data-y="center" data-hoffset="0" data-voffset="-20" 
				data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" 
				data-startslide="0" data-endslide="3" data-speed="1000" data-start="1500" 
				data-easing="Back.easeInOut" data-splitin="none" data-splitout="none" 
				data-elementdelay="0.05" data-endelementdelay="0.1"
				style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;"
			>
					Welcome to LOKAL BUDDY
			</div>
			<!-- LAYER NR. 2 -->
			<div class="tp-caption customin tp-resizeme rs-parallaxlevel-0 text-center tp-static-layer" 
				data-x="center" data-y="center" data-hoffset="0" data-voffset="15" 
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
				data-startslide="0" data-endslide="3" data-speed="500" data-start="2600" 
				data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" 
				data-elementdelay="0.05" data-endelementdelay="0.1"
				style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"
			>
				<div style="color:#ffffff; font-size:16px; text-transform:uppercase">
					We offer a platform to make local experiences
				</div>
			</div>
			<!-- LAYER NR. 3 -->
			<div class="tp-caption customin tp-resizeme rs-parallaxlevel-0 tp-static-layer" 
				data-x="center" data-y="center" data-hoffset="0" data-voffset="70" 
				data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
				data-startslide="0" data-endslide="3" data-speed="500" data-start="2900" 
				data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" 
				data-elementdelay="0.1" data-endelementdelay="0.1" 
				style="z-index: 12;"
			>
				<a href="{{ path('odiseo_product_index') }}" class="button_intro">View all experiences</a>
				<a href="#" class=" button_intro outline">How it works</a>
			</div>
			<!-- LAYER NR. 4 -->
			<div class="tp-caption tp-static-layer"
				data-y="bottom" data-start="0" data-startslide="0"
				style="z-index: 20; width: 100%;left: 0;"
			>
				<div id="search_bar_container">
                	<div class="container">
                		<form action="{{ path('odiseo_product_index') }}" method="GET">
                		<div class="search_bar filterType">
                			<ul>
                				{% for productType in productTypes %}
                				<li>
                					<label><input type="checkbox" id="filter_type_{{ productType.id }}" name="filter[type][]" value="{{ productType.id }}"><span>{{ productType.name }}</span></label>
                				</li>
                				{% endfor %}
                			</ul>
                		</div>
						<div class="search_bar">
                            <input style="display:none;" id="townInput" name="filter[town][]"></input>
                            <div class="nav-searchfield-outer" data-autocomplete-options="{{towns}}">
                                <input type="text" autocomplete="off"  placeholder="Where you want share experiences?" id="twotabsearchtextbox">
                            </div>
                            <div class="nav-submit-button">
                                <input type="submit" title="Search" class="nav-submit-input" value="Search">
                            </div>
                        </div><!-- End search bar-->
                        </form>
                    </div>
                </div>
			</div>
		</div>
		<div class="tp-bannertimer tp-bottom"></div>
	</div>
</div>
<!-- End Slider -->
{% endblock %}


{% block content %}
<div class="container margin_60">    
	<div class="main_title">
		<h2>Staff pick of the week</h2>
	</div>    
	<div class="row pickOfWeek">    
		<div class="col-md-4 wow zoomIn animated eat" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s;">
			<h2 class="powTitle">Eat with lokal buddy</h2>
			<p class="powSubtitle">Lorem ipsum sit amet is simply dummy text of the printing</p>
			<div class="hotel_container">
				<div class="img_container">
					<a href="#">
						<img src="http://placehold.it/360x202" class="img-responsive" alt="">
						<div class="short_info hotel">
							{#From/Per night#}<span class="price"><sup>$</sup>45</span>
						</div>
					</a>
				</div>
				<div class="hotel_title">
					<h3>asdasdasd</h3>
					<div class="rating">
						<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
					</div><!-- end rating -->
					<div class="wishlist">
						<a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
					</div><!-- End wish list-->
				</div>
			</div><!-- End box tour -->
		</div>
		
		<div class="col-md-4 wow zoomIn animated tours" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
			<h2 class="powTitle">Tours with lokal buddy</h2>
			<p class="powSubtitle">Lorem ipsum sit amet is simply dummy text of the printing</p>
			<div class="hotel_container">
				<div class="img_container">
					<a href="#">
						<img src="http://placehold.it/360x202" class="img-responsive" alt="">
						<div class="short_info hotel">
							{#From/Per night#}<span class="price"><sup>$</sup>45</span>
						</div>
					</a>
				</div>
				<div class="hotel_title">
					<h3>asdasdasd</h3>
					<div class="rating">
						<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
					</div><!-- end rating -->
					<div class="wishlist">
						<a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
					</div><!-- End wish list-->
				</div>
			</div><!-- End box tour -->
		</div>
            
		<div class="col-md-4 wow zoomIn animated activities" data-wow-delay="0.6s" style="visibility: visible; -webkit-animation-delay: 0.6s;">
			<h2 class="powTitle">Activities with lokal buddy</h2>
			<p class="powSubtitle">Lorem ipsum sit amet is simply dummy text of the printing</p>
			<div class="hotel_container">
				<div class="img_container">
					<a href="#">
						<img src="http://placehold.it/360x202" class="img-responsive" alt="">
						<div class="short_info hotel">
							{#From/Per night#}<span class="price"><sup>$</sup>45</span>
						</div>
					</a>
				</div>
				<div class="hotel_title">
					<h3>asdasdasd</h3>
					<div class="rating">
						<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
					</div><!-- end rating -->
					<div class="wishlist">
						<a class="tooltip_flip tooltip-effect-1" href="#">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
					</div><!-- End wish list-->
				</div>
			</div><!-- End box tour -->
		</div>
	</div><!--End row -->
</div>
<div class="whyLokals">        
	<div class="row">
		<div class="col-md-6 col-sm-6 hidden-xs">
			<h3><span>Join our comunnity</span></h3>
		</div>
		<div class="col-md-6 col-sm-6">
			<h3><span>Why lokal buddy?</span></h3>
			<p><strong>Activities with lokal buddy</strong></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer varius tellus augue, rutrum pulvinar ipsum euismod at. Sed eget aliquet orci, vel semper felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam condimentum ligula at pharetra cursus. Duis id dui posuere, molestie odio eu, molestie elit. Vestibulum commodo volutpat dapibus. Nulla vel dolor quis justo molestie faucibus. Duis tristique quam mauris, eu eleifend augue sodales vitae. Phasellus vitae dui at enim scelerisque blandit euismod quis nibh. Vestibulum blandit sapien ex, id malesuada lectus fermentum a. Vestibulum sodales malesuada metus sed congue.</p>
			<p><a href="#" class="btn_1">Read more</a></p>
		</div>
	</div><!-- End row -->
</div>
{% endblock %}