<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
	<meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
	<meta name="author" content="TresEpic">
	      
    <!-- Favicons-->
    <link rel="shortcut icon" href="{{ asset('bundles/odiseolokalbuddy/img/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('bundles/odiseolokalbuddy/img/apple-touch-icon-57x57-precomposed.png') }}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ asset('bundles/odiseolokalbuddy/img/apple-touch-icon-72x72-precomposed.png')}}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{ asset('bundles/odiseolokalbuddy/img/apple-touch-icon-114x114-precomposed.png')}}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{ asset('bundles/odiseolokalbuddy/img/apple-touch-icon-144x144-precomposed.png')}}">

	<title>{% block title %}{{ settings.title|default('sylius.meta.frontend_title'|trans) }}{% endblock %}</title>
	
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	
    <!-- stylesheets -->
	{# stylesheets... #}
	{% block stylesheets %}
	{% stylesheets output='css/frontend.min.css' filter='cssrewrite'
		'bundles/odiseolokalbuddy/css/base.css'
		'bundles/odiseolokalbuddy/rs-plugin/css/settings.css'
		'bundles/odiseolokalbuddy/css/extralayers.css'
		'bundles/odiseolokalbuddy/css/jquery-ui.css'
		'bundles/odiseolokalbuddy/css/skins/square/grey.css'
		'bundles/odiseolokalbuddy/css/main.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
	{#% if is_granted('ROLE_SYLIUS_ADMIN') %}
		{% include "CmfCreateBundle::includecssfiles.html.twig" %}
	{% endif %#}
	{% endblock %}
	
	<!--[if lt IE 9]>
      <script src="{{ asset('bundles/odiseolokalbuddy/js/html5shiv.min.js') }}"></script>
      <script src="{{ asset('bundles/odiseolokalbuddy/js/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body>   
	<div class="layer"></div>
    <!-- Mobile menu overlay mask -->
	
	{#% block flashes %}
		{% for type in ['success', 'error', 'fos_user_success', 'notice'] %}
			{% for flash in app.session.flashbag.get(type) %}
				<div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
					<a class="close" data-dismiss="alert" href="#">×</a>
					{{ flash|trans }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endblock %#}
        
	<!--  INIT HEADER -->
	{% block header %}
	<header>
		<div id="top_line">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>0045 043204434</strong></div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<ul id="top_links">
							<li>
								<a href="#"> Que es LokalBuddy</a>
							</li>
                            <li>
								<a href="#"> Faqs</a>
                            </li>
                            <li>
								{{ render(controller('OdiseoUserBundle:Frontend/Security:loginModal')) }}
							</li>
							<li><a href="{{ path('odiseo_user_wishlist_index') }}" id="wishlist_link">Wishlist</a></li>
						</ul>
					</div>
				</div><!-- End row -->
			</div><!-- End container-->
		</div><!-- End top line-->
		<div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo">
                        <a href="{{ path('sylius_homepage') }}"><img src="{{ asset('bundles/odiseolokalbuddy/img/logo_2x.png') }}" width="320" height="68" alt="Lokal Buddy" data-retina="true" class="logo_normal"></a>
                        <a href="{{ path('sylius_homepage') }}"><img src="{{ asset('bundles/odiseolokalbuddy/img/logo_sticky.png') }}" width="160" height="34" alt="Lokal Buddy" data-retina="true" class="logo_sticky"></a>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
					<ul id="top_tools">
						{# SEARCH
						<li>
							<div class="dropdown dropdown-search">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
								<div class="dropdown-menu">
									<form>
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search...">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button" style="margin-left:0;">
													<i class="icon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</div>
							</div>
						</li>
						#}
					</ul>
				</nav>
			</div>
		</div>
	</header>     <!--  END HEADER -->
	{% endblock %}

	<!-- INIT SLIDER -->
	{% block slider %}
	{% endblock %}
	<!--  END SLIDER -->
    	
	<!-- INIT CONTENT -->
	{% block content %}
	{% endblock %}
	<!-- END CONTENT -->
		
	<!-- INIT FOOTER -->
	{% block footer %}
	<footer>
		<div class="redBar"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="social_footer">
						<ul>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-google"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon-pinterest"></i></a></li>
							<li><a href="#"><i class="icon-vimeo"></i></a></li>
							<li><a href="#"><i class="icon-youtube-play"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>						
					</div>
				</div>
			</div><!-- End row -->
			<div class="row">
				<div class="col-md-4 col-sm-3">
					<h3>Need help?</h3>
					<a href="tel://004542344599" id="phone">+45 423 445 99</a>
					<a href="mailto:help@lokalbuddy.com" id="email_footer">help@lokalbuddy.com</a>
                </div>
				<div class="col-md-3 col-sm-3">
					<h3>About</h3>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Terms and condition</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3">
					<h3>Discover</h3>
					<ul>
						<li><a href="#">Community blog</a></li>
						<li><a href="#">Tour guide</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Gallery</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-3">
					<h3>Settings</h3>
					<div class="styled-select">
						<select class="form-control" name="lang" id="lang">
							<option value="English" selected>English</option>
							<option value="French">French</option>
							<option value="Spanish">Spanish</option>
							<option value="Russian">Russian</option>
						</select>
					</div>
					<div class="styled-select">
						{{ render(controller('OdiseoEcommerceBundle:Component:selectCurrency')) }}						
					</div>
				</div>
			</div><!-- End row -->
			<div class="row">
				<div class="col-md-12">
					<img src="{{ asset('bundles/odiseolokalbuddy/img/logo_footer.png') }}" class="logoFooter img-responsive">
				</div>
			</div>		
		</div><!-- End container -->
	</footer><!-- End footer -->
	{% endblock %}
	<!-- END FOTTER -->
	
	<div id="toTop"></div>
		
	<!-- INIT JAVASCRIPT -->
	{# javascripts... #}
	{% block javascripts %}
	{% javascripts output='js/frontend.min.js'
		'bundles/odiseolokalbuddy/js/vendor/jquery.1.11.2.min.js'
		'bundles/odiseolokalbuddy/js/common_scripts_min.js'	
		'bundles/odiseolokalbuddy/js/functions.js'
		'bundles/odiseolokalbuddy/rs-plugin/js/jquery.themepunch.tools.min.js'
		'bundles/odiseolokalbuddy/rs-plugin/js/jquery.themepunch.revolution.min.js'
		'bundles/odiseolokalbuddy/js/revolution_func.js'
		'bundles/odiseolokalbuddy/js/jquery-ui.js'
		'bundles/odiseolokalbuddy/js/jquery.form.js'
		'bundles/odiseolokalbuddy/js/icheck.js'
		'bundles/odiseouser/js/wishlist.js'
		'bundles/odiseolokalbuddy/js/main.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{#% if is_granted('ROLE_SYLIUS_ADMIN') %}
		{% render(controller(
			"cmf_create.jsloader.controller:includeJSFilesAction",
			{'_locale': app.request.locale, 'editor': 'hallo'}
		)) %}
	{% endif %#}
	{% endblock %}
	{% if settings.tracking_code %}
        {{ settings.tracking_code|raw }}
    {% endif %}
	<!-- END JAVASCRIPT -->
	</body>
</html>
