{% extends 'OdiseoLokalBuddyBundle:Frontend:layout.html.twig' %}
{% trans_default_domain "aboutus" %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('bundles/odiseolokalbuddy/js/web/index.js') }}"></script>
{% endblock %}

{% block content %}
<section id="general">	
</section>

<div class="container margin_30">
	<div class="row">
		<div class="col-md-12">			
			<div class="about">
			<h3>{{ 'odiseo.lokalbuddy.about_us'|trans }}:</h3>
			<p>
			{{ 'odiseo.lokalbuddy.about_us_text'|trans }}
			</p>
			<hr>
			<h3>{{ 'odiseo.lokalbuddy.who_we_are'|trans }}:</h3>
			<p>
			{{ 'odiseo.lokalbuddy.who_we_are_text'|trans }}
			</p>
			<hr>
			<h3>{{ 'odiseo.lokalbuddy.our_team'|trans }}:</h3>
			<p>
			{{ 'odiseo.lokalbuddy.our_team1'|trans }}
			</p>
			<p>
			{{ 'odiseo.lokalbuddy.our_team2'|trans }} 	
			</p>
			<p>
			{{ 'odiseo.lokalbuddy.our_team3'|trans }} 	
			</p>
			<p>
			{{ 'odiseo.lokalbuddy.our_team4'|trans }}
			</p>
			<p>
			{{ 'odiseo.lokalbuddy.our_team5'|trans }}
			<hr>

			</div>
		</div>
	</div>
</div>
{% endblock %}
