{% extends 'OdiseoLokalBuddyBundle:Frontend:layout.html.twig' %}
{% trans_default_domain "aboutus_terms" %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('bundles/odiseolokalbuddy/js/web/index.js') }}"></script>
{% endblock %}

{% block content %}
<section id="general">	
</section>

<div class="container margin_30">
	<div class="row">
		<div class="col-md-12">	
			<h2>{{ 'odiseo.lokalbuddy.terms_use'|trans }}</h2>
			<hr>		
			<div class="terms">
<p align="justify">
	{{ ('odiseo.lokalbuddy.initial_text'|trans) | raw }}
</p>
<ol>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item1'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="2">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item2'|trans | raw }}
        </p>
    </li>
</ol>
<ol start="3">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item3'|trans | raw }}
        </p>
    </li>
</ol>
<ol start="4">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item4'|trans | raw }}
            <u>User Registration</u>
            : To access and use certain content, features, or functionality of the Services, LokalBuddy you must join by using a third party account (e.g.,
            Facebook) and have a unique username and password combination (“User Credentials”). By registering to the Service with a third-party account (e.g.,
            Facebook), you hereby grant us permission to access and use your information through that service, as permitted by that third party service, and to
            store your log-in credentials for that service to enable the Service. If you do not use a third party account, you may become a registered User of
            the Service by providing us with several details about yourself. The details we need in order to enroll you, consist of, among others, your real
            name, email address and country of residence. Also it may require providing certain additional information, which may include, without limitation,
            date of birth, and zip code (collectively, a “User Account”). The details you voluntarily provide us shall be maintained according to our Privacy
            Policy. You agree to not disclose your username and password to any third party. Once you register for the Services you may post an offered
            experience by you (“Local”) or make a reservation for an experience offered by a Local (“Buddy”). You represent and warrant that all registration
            and account information you submit is truthful and accurate and you shall maintain and promptly update the accuracy of such information. You also
            may view content of the website without registration but with limited access of interaction. If you select to register for the Services, you are
            solely responsible for maintaining in strict confidentiality of your User Credentials, and you shall be responsible and liable for any access to or
            use of the Services by you or any person or entity using your User Credentials, whether or not such access or use has been authorized by you or on
            your behalf, and whether or not such person or entity is your employee or agent, including, without limitation, any fee-based transactions. It is
            therefore critical that you do not share your User Credentials with anyone. You agree to notify immediately LokalBuddy of any unauthorized use of
            your User Credentials or User Account, or any other breach of security. LokalBuddy reserve the right to deny access, use and registration
            privileges to any user of the Services if we believe there is a question about the identity of the person trying to access any account or element
            of the Services. LokalBuddy shall not be responsible or liable for any loss or damage arising from your failure to comply with this section.
        </p>
    </li>
</ol>
<p align="justify">
    {{ 'odiseo.lokalbuddy.item4_text1'|trans | raw }}
    LokalBuddy take great measures to provide you with the best experience you can have while using LokalBuddy; However, LokalBuddy has no control over the
    conduct of any Local, Buddy or any other User and disclaims all liability in this regard. Locals and Buddies are recommended to carefully and thoroughly
    examine and check with their respective Buddies and Locals all necessary details related to their Experience and Reservation prior to any engagement been
    made. Note that either as a Local or as a Buddy, you will be able to edit your personal profile information at any point, adding or removing any
    information as you see fit. Information included in your profile, which is marked as public, shall be available to other Users on LokalBuddy and to all
    Internet users.
</p>
<p align="justify">
	{{ 'odiseo.lokalbuddy.item4_text2'|trans | raw  }}
    LokalBuddy is required to collect under U.S. Internal Revenue Code and the regulations promulgated thereunder, IRS Form W-9 from any Host hosting in the
    United States. Locals hosting in the United States, are required upon registration on LokalBuddy to provide to LokalBuddy such properly filled in Form W-9.
</p>
<ol start="5">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item5'|trans | raw  }}
            <u>Reservations</u>
: As a registered User, each Buddy is welcome to make an online reservation with any Local offering his services on LokalBuddy ("            <strong>Reservation</strong>"). You, as a Buddy, may pay for your Reservation by using the PayPal service or any other payment gateway services
            available for you. As part of the Reservation process you will be asked to fill in some details with respect to your Reservation (such as food
allergies, if any, and any special condition or information you need to share in order to be able to enjoy the experience) ("            <strong>Contact Form</strong>") and wait to receive a confirmation by the Local you made a certain Reservation with. The Contact Form you have
            filled in will be delivered automatically to your respective Local. Once your Reservation is confirmed, the Company will notify you by email that
            your Reservation is confirmed ("<strong>Reservation Confirmation</strong>") and then will charge you for the full service amount, which includes a
            Reservation Fee of 20% of the service amount ("<strong>Reservation Amount</strong>"). The Reservation Amount charged from you will be kept
            faithfully by LokalBuddy and in compliance with any applicable law, and will only be transferred to the respective Local 24 hours following your
            arrival to your Reserved Experience and provided that no cancellation notification was made by you before that day (please see our Cancelation
            Policy).
        </p>
    </li>
</ol>
<ol start="6">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item6'|trans | raw  }}
            <u>Fees and Payments</u>
            : In order to make an online Reservation on LokalBuddy, as a Buddy, you will be requested to provide the Company with additional personal
            information, such as home address, phone number, or any other information needed in order to complete the Reservation Process. Note that we will
            not disclose any of your personal information to others, except for your name, contact details and the Contact Form you filled in, in order to
            place your Reservation with the respective Local and to provide you with the Service.
            <br/>
            Locals are required to post prices including all applicable taxes for Reservation of Experiences they offer on LokalBuddy, as such Reservation may
            be subject to taxation, as required or ordered by the applicable tax law in the country in which respective Locals reside.
            <br/>
            Locals are solely responsible to determine the applicable taxes and are hereby required to comply with the applicable tax law and pay any taxes
            including VAT, surcharges, sales taxes, goods and services taxes, and other similar municipal, state and federal indirect or other withholding and
            personal or corporate income taxes imposed and levied in connection with Reservations made of their respective Experiences Events via LokalBuddy or
            the payment thereof and they represent and warrant that they will pay such taxes in time and in compliance with the applicable tax law. Note that
            failing to pay such taxes, as ordered by applicable tax law or to comply with any provisions the applicable tax law may prevent such Locals from
            continuing publishing their Experience Events on LokalBuddy. The Reservation Amount charged from Buddies will be kept faithfully by LokalBuddy and
            in compliance with any applicable law, and will only be transferred to the respective Local 24 hours following Buddy arrival to Local's Reserved
            Experience Event and provided that no cancellation notification was made before that day by either the Guest or the Host (please see our
            Cancelation Policy).
            <br/>
            <br/>
            You, a Buddy, represent and warrant that you will pay to your Local all fees and taxes incurred with your Reservation in a timely manner and in
            compliance with LokalBuddy's fee schedule. Failing to settle your payments including any taxes incurred with your Reservation, will prevent you
            from executing your Reservation with LokalBuddy and from further using LokalBuddy. Notwithstanding the above, Company shall reserve the right, but
            have no obligation, to withhold any applicable taxes and obtain any other remedies available by law.
            <br/>
            <br/>
            The Company may, at any time and at its sole discretion, convert a free of charge service to a fee-based service, and change rates and payment
            terms. LokalBuddy may deduct foreign currency processing costs from any payment. Any changes in LokalBuddy's fee schedule will take effect
            immediately after being posted on LokalBuddy.
            <br/>
            LokalBuddy may provide a feature through which Users may view their Fees in foreign currencies. This information is believed to be accurate, but we
            do not warrant or guarantee such accuracy. You hereby agree and acknowledge that these views of Fees are for your convenience and informational
            purposes only. You acknowledge that the applicable exchange rate used for currency conversion processing may not be identical to the applicable
            market rate in effect at the specific time such processing occurs.
        </p>
    </li>
</ol>
<ol start="7">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7'|trans | raw  }}
            <u>Cancellation of Reservation</u>
            : All Reservations are subject to LokalBuddy's cancellation policy, as stated below:
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7_text1'|trans | raw  }}
            If a Reservation is cancelled by a Buddy at least 48 hours prior to the applicable Experience Event date, the Local shall not be paid any of the
            Reservation Amount and the Buddy shall be reimbursed the full Reservation Amount net any commissions and fees paid by LokalBuddy (e.g – PayPal fees
            or any other payment gateway fees).
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7_text2'|trans | raw  }}
            If a Reservation is cancelled by a Buddy between 24 and 48 hours prior to the applicable Experience Event date, the Local shall be paid 50% of the
            Reservation Amount and the remainder shall be returned to the Buddy net any commissions and fees paid by LokalBuddy.
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7_text3'|trans | raw  }}
            If a Reservation is cancelled by a Guest less than 24 hours before the applicable Experience Event, the Buddy shall not be entitled to any return,
            credit or reimbursement.
        </p>
    </li>
</ul>
<p align="justify">
    {{ 'odiseo.lokalbuddy.item7_text4'|trans | raw  }}
    Your Reservation shall be deemed canceled only upon receipt of LokalBuddy confirmation of your cancellation. The Company reserves the right to cancel a
    Reservation at any time upon returning full refund of Reservation Amount to the Buddy.
    <br/>
    In case a Local cancels Buddy’s Reservation to participate in a Experience Event, Company will credit Buddy with the full Reservation Amount such Buddy has
    paid to LokalBuddy. Company reserves the right to charge the canceling Local with the Reservation Fees collected.
    <br/>
    LokalBuddy shall not bear any liability for any cost, expense, loss or damage that you may suffer or incur as a result of Local’s or Buddy’s cancelation of
    a Reservation of Experience Event.
    <br/>
    Additionally, LokalBuddy reserves the right to charge back from Locals the Reservation Amount they received for organizing certain Experience Event if upon
    the receipt of a complaint by a Buddy with respect to such Experience Event, it believes, at its sole discretion, that such Experience Event was not
    compatible with LokalBuddy standards of service or in case of any misconduct of the Local.
</p>
<ol start="8">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item8'|trans | raw  }}
            <u>Privacy Policy</u>
            : We are committed to protect the information you share with LokalBuddy and we respect your privacy. For that reason, we understand the importance
            to know our practices regarding the information we collect from you, we invite you to take a look at our Privacy Policy. The Privacy Policy
            available at http://www.lokalbuddy.com/privacy is hereby incorporated into this Agreement by reference as though fully set forth herein.
        </p>
    </li>
</ol>
<ol start="9">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9'|trans | raw  }}
            <u>Use Restriction</u>
            : There are certain conducts that are strictly prohibited on LokalBuddy. Please read the following restrictions carefully. Your failure to comply
            with the provisions set forth herein may result in the termination of your access to LokalBuddy and may also expose you to civil and/or criminal
            liability. You may not, whether by yourself or anyone on your behalf:
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text1'|trans | raw  }}
            Use LokalBuddy for any illegal, unlawful or unauthorized purposes;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text2'|trans | raw  }}
            Engage in or encourage conduct that would violate any applicable law, rule, regulation, judicial or government order or give rise to civil
            liability or violate or infringe upon any intellectual property, proprietary, privacy, patent, trade secret, copyright, moral, publicity or other
            rights of any other person or entity;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text3'|trans | raw  }}
            ffer, sell or distribute controlled substances (such as but not limited to steroids, narcotics, tobacco products, prescriptions drugs, marijuana),
            medical devices or products or services that present a risk to consumer safety, guns, ammunitions, firearms, knives, weapons or accessories
            regulated by law, stocks, bonds or other securities, real estate, insurance, banking or financial services.
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text4'|trans | raw  }}
            Use LokalBuddy in any form of spam, unsolicited mail or similar conduct.
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text5'|trans | raw  }}
            Allow access to your account to anyone other than yourself, including, without limitation, any persons who are under the age of 18. You accept full
            responsibility for any unauthorized use of the Service on your behalf, including by minors;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text6'|trans | raw  }}
            Use LokalBuddy for non-personal or commercial purposes other than as a Local without Company’s express prior written consent;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text7'|trans | raw  }}
            Interfere with or violate other Users' rights to privacy and other rights, or harvest or collect data and information about other Users without
            their express consent, whether manually or automatically with the use of any robot, spider, crawler, any search or retrieval application, or use
            other automatic device, process or method to access LokalBuddy and retrieve, index and/or data-mine any information;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text8'|trans | raw  }}
            Interfere with or disrupt the operation of LokalBuddy or the servers or networks that host LokalBuddy, or disobey any laws or regulations or
            requirements, procedures, policies, or regulations of such servers or networks;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text9'|trans | raw  }}
            Submit, post, publish, email, display, transmit or otherwise make available through LokalBuddy any material or take any action that is or is likely
            to be unlawful, harmful, threatening, abusive, tortious, defamatory, libelous, deceptive, fraudulent, false, misleading, inaccurate, invasive of
            another’s privacy or publicity rights, harassing, profane, obscene, vulgar or that contains explicit or graphic imagery, descriptions or accounts
            of excessive violence or sexual acts, contains a link to an adult website or is patently offensive, promotes racism, bigotry, hatred or physical
            harm of any kind against any group or individual;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text10'|trans | raw  }}
            Impersonate any person or entity or provide false information on LokalBuddy, whether directly or indirectly;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text11'|trans | raw  }}
            Falsely state or otherwise misrepresent your affiliation with any person or entity, or express or imply that the Company or any third party
            endorses you, your website, your business, or any statement you make, or present false or inaccurate information about LokalBuddy;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text12'|trans | raw  }}
            As a Local, provide falsely or inaccurate information with respect to the service you offer through LokalBuddy for Buddies, including, but not
            limited to any representation you make with respect to your Experience Events, including the hosting place, the experience as a whole and/ or the
            food you offer on LokalBuddy.
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text13'|trans | raw  }}
            Transmit, distribute, display or otherwise make available through or in connection with LokalBuddy any content, including User Generated Content,
            which may infringe third party rights, including Intellectual Property rights and privacy rights, or which may contain any unlawful content;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text14'|trans | raw  }}
            Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our platform
            infrastructure;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text15'|trans | raw  }}
            Bypass any measures we may use to prevent or restrict access to LokalBuddy;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text16'|trans | raw  }}
            Copy, modify, alter, adapt, make available, translate, port, reverse engineer, decompile, or disassemble any portion of LokalBuddy in any way;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text17'|trans | raw  }}
            Create a browser, frame, border environment or GUI around LokalBuddy;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text18'|trans | raw  }}
            Link, including in-line linking, to elements on LokalBuddy, such as images and videos, independently from the web pages of LokalBuddy on which they
            originally appear;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text19'|trans | raw  }}
            Bypass LokalBuddy by forwarding your personal and contact details (as emails, phone numbers or sites address) to other Users of LokalBuddy, whether
            you are a Buddy or a Local, to avoid paying Reservation Fee to us or for other purposes;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text20'|trans | raw  }}
            Engage in or encourage conduct that affects adversely or reflect negatively on LokalBuddy, its affiliates, or parent company, partners,
            collaborators, the Services, our goodwill, name or reputation or causes duress, distress or discomfort to us or anyone else, or discourage any
            person or entity from using all or any portion, features or functions of the Services, or from advertising or becoming a supplier to us in
            connection with the Services.
        </p>
    </li>
</ul>
<ol start="10">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item10'|trans | raw  }}
            <u>Intellectual Property Rights</u>
            : The Intellectual Property rights pertaining to LokalBuddy, including, but not limited to, inventions, patent, patent applications, trademarks,
            trade names, logos, copyrightable materials, graphics, text, images, specifications, designs, policies, methods, procedures, algorithms, data,
            technical data, interactive features, source and object code, files, interface, trade secrets and GUI, registered or not registered (collectively
            known as "Intellectual Property"), are owned and/or licensed to the Company and subject to copyright and other applicable intellectual property
            rights under applicable laws and international conventions. You may not copy, distribute, display, execute publicly, make available to the public,
            reduce to human readable form, decompile, disassemble, adapt, sublicense, make any commercial use, sell, rent, lend, process, compile, reverse
            engineer, combine with other software, translate, modify or create derivative works of any material that is subject to LokalBuddy’s proprietary
            rights, including the Service's Intellectual Property, either by yourself or by anyone on your behalf, in any way or by any means, if not expressly
            permitted by the Company. You represent and warrant that you will abide by all applicable laws in this respect. You are further prohibited from
            using, diluting or staining any name, mark or logo that is identical, or confusingly similar to any of LokalBuddy marks and logos, whether
            registered or not.
        </p>
    </li>
</ol>
<ol start="11">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11'|trans | raw  }}
            <u>User Generated Content</u>
            : LokalBuddy allows User to upload, post, publish and make available through it, your own copyrightable materials such as literary works, text,
            images, photos, videos, strips and any other proprietary materials, including without limitation Locals' posts on their pages and/or any part
            thereof and links to copyrightable materials (the "<strong>User Generated Content</strong>").
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11_text1'|trans | raw  }}
            Users are solely responsible for their User Generated Content and the consequences of posting or publishing such material, on LokalBuddy, in any
            way.
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11_text2'|trans | raw  }}
            User represent and warrant that is the rightful owner of the User Generated Content uploaded to LokalBuddy or that User have (and will continue to
            have) all the necessary licenses, rights, consents, and permissions from the rightful owners of such User Generated Content, which are required to
            use and to enable LokalBuddy to use the User Generated Content User upload to LokalBuddy and that such User Generated Content does not infringe any
            third party's copyright or other rights.
        </p>
    </li>
    <li>
        <p align="justify">
            <em>
        		{{ 'odiseo.lokalbuddy.item11_text3'|trans | raw  }}
                By submitting their Content content (including user submissions and comments) on LokalBuddy, User hereby do and shall grant, and represent and
                warrant that User have the right to grant, LokalBuddy a worldwide, non-exclusive, perpetual, irrevocable, royalty-free, fully paid,
                sublicensable (including to other Site users) and transferable license (the “Content License”) to: (i) use, edit, modify, reproduce,
                distribute, prepare derivative works of, display, perform, and otherwise fully exploit your content in connection with the Services, LokalBuddy
                (and its successors and assigns’) business, including for promoting and redistributing part or all of the Services (and derivative works
                thereof) in any media formats and through any media channels (including third party websites) and (ii) if you are a Local, use and publish, and
                to permit others to use and publish, the name(s), trademarks, service marks, slogans, logos or similar proprietary rights, likenesses, and
                personal and biographical materials of you and the members of your group, in connection with the provision of the service on the Site.
            </em>
        </p>
    </li>
    <li>
        <p align="justify">
            <em>
        		{{ 'odiseo.lokalbuddy.item11_text4'|trans | raw  }}
                User agrees to irrevocably waive (and cause to be waived) any claims and assertions of moral rights or attribution with respect to your
                content. For clarity, the foregoing license grant to LokalBuddy does not affect your other ownership or license rights in your content,
                including the right to grant additional licenses to the material in your content, unless otherwise agreed in writing. You agree to pay all
                royalties and other amounts owed to any person or entity due to your submission of your content on the Services or the LokalBuddy exercise of
                the Content License above.
            </em>
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11_text5'|trans | raw  }}
            User agrees that the Company may remove at any time any User Generated Content User has uploaded to LokalBuddy in its sole discretion with or
            without any reason.
        </p>
    </li>
</ul>
<ol start="12">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12'|trans | raw  }}
            <u>Third Party Intellectual Property</u>
            : LokalBuddy may, in appropriate circumstances and at its discretion, terminate the accounts of users who infringe the intellectual property rights
            of others. LokalBuddy will remove infringing materials in accordance with the Digital Millennium Copyright Act if properly notified that content
            infringes copyright. If you believe that your work has been copied in a way that constitutes copyright infringement, please provide the Site’s
            Copyright Agent with a written notification containing at least the following information (please confirm these requirements with your legal
            counsel, or see Section 512(c)(3) of the U.S. Copyright Act, 17 U.S.C. §512(c)(3), for more information):
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text1'|trans | raw  }}
            An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text2'|trans | raw  }}
            A description of the copyrighted work that you claim has been infringed;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text3'|trans | raw  }}
            A description of where the material that you claim is infringing is located on the website, sufficient for The Company to locate the material;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text4'|trans | raw  }}
            Your address, telephone number, and email address;
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text5'|trans | raw  }}
            A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text6'|trans | raw  }}
            A statement by you that the above information in your notice is accurate and, under penalty of perjury, that you are the copyright owner or
            authorized to act on the copyright owner's behalf.
        </p>
    </li>
</ul>
<p align="justify">
    {{ 'odiseo.lokalbuddy.item12_text7'|trans | raw  }}
    If you believe that your work has been removed or disabled by mistake or misidentification, please provide LokalBuddy team with a written
    counter-notification containing at least the following information (please confirm these requirements with your legal counsel or see Section 512(g)(3) of
    the U.S. Copyright Act, 17 U.S.C. §512(g)(3), for more information):
</p>
<ul>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text8'|trans | raw  }}
            A physical or electronic signature of the User of LokalBuddy;
        </p>
    </li>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text9'|trans | raw  }}
            Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it
            was removed or access to it was disabled;
        </p>
    </li>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text10'|trans | raw  }}
            A statement made under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of
            mistake or misidentification of the material to be removed or disabled; and
        </p>
    </li>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text11'|trans | raw  }}
            The subscriber's name, address, telephone number, and a statement that the subscriber consents to the jurisdiction of the Federal District Court
            for the judicial district in which the address is located, or if the subscriber's address is outside of the United States, for any judicial
            district in which the service provider may be found, and that the subscriber will accept service of process from the person who provided
            notification under subsection (c)(1)(C) or an agent of such person.
        </p>
    </li>
</ul>
<p align="justify">
    <br/>
    {{ 'odiseo.lokalbuddy.item12_text12'|trans | raw  }}
    You acknowledge that if you fail to comply with all of the aforementioned notice requirements, your notification or counter-notification may not be valid
    and that LokalBuddy may ignore such incomplete or inaccurate notices without liability of any kind. Under Section 512(f) of the Copyright Act, 17 U.S.C.
    §512(f), any person who knowingly materially misrepresents that material or activity is infringing or was removed or disabled by mistake or
    misidentification may be subject to liability. Our designated agent for notice of alleged copyright infringement is:
</p>
<p align="center">
    {{ 'odiseo.lokalbuddy.item12_text11'|trans | raw  }}
    LokalBuddy<br>
    PO Box 10067<br>
    San Juan, P.R.00922-0067
</p>
<ol start="13">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item13'|trans | raw  }}
            <u>Trademarks</u>
            : The trademarks, logos, and Service marks ("Marks") displayed on LokalBuddy website are registered trademarks of their respective owners, are the
            property of their respective owners, and/or are protected by U.S. and international trademark laws and/or common law. Their uses are restricted to
            programs, events, products or services that LokalBuddy sponsors or with which we are otherwise affiliated. LokalBuddy’s trademarks may not be used
            for personal financial gain. Use of the Marks is prohibited without LokalBuddy’s express written consent except as permitted by applicable laws.
            Nothing contained on the Site should be construed as granting, by implication, estoppel, or otherwise, any license or rights to use the Marks
            without LokalBuddy's express written consent.
        </p>
    </li>
</ol>
<ol start="14">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item14'|trans | raw  }}
            <u>Advertisements</u>
            : The Company may integrate commercials, advertisements and/or sponsored links, whether within or beside LokalBuddy. By clicking the advertisements
            you may be transferred to a website of an advertiser or receive any other messages, information or offers from the advertiser and from others. All
            the information contained in such commercials and advertisements belongs solely to the advertisers and the Company makes no warranties or
            representations as to such advertisements, whether or not the Company has control over such advertisements. The Company, advertisers and/or
            third-parties related thereto may be entitled to certain shares of the earnings for such commercials. You agree, acknowledge and consent that no
            right, title or interest is or shall be granted to you in any way with respect to any revenue share whatsoever in relation thereto, whether as a
            paying User or not.
        </p>
    </li>
</ol>
<ol start="15">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item15'|trans | raw  }}
            <u>Availability:</u>
            LokalBuddy availability and functionality depends on various factors, such as communication networks, software, hardware and the Company's
            services' providers and contractors. The Company does not warrant or guarantee that LokalBuddy will operate at all times without disruption or
            interruption, or that it will be immune from unauthorized access or error-free.
        </p>
    </li>
</ol>
<ol start="16">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item16'|trans | raw  }}
            <u>Modifications:</u>
            <em> </em>
            The Company may change LokalBuddy’s layout and design from time to time, and the availability of the content and services included therein, without
            giving any prior notice on LokalBuddy. You hereby agree and acknowledge that the Company is not responsible for any errors or malfunctions that may
            occur in connection with the performing of such changes. Any update, modification or change to LokalBuddy or The Company platform belongs to The
            Company.
        </p>
    </li>
</ol>
<ol start="17">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item17'|trans | raw  }}
            <u>Refund, Disclaimer and Warranties</u>
            : IN THE EVENT OF MISLEADING REPRESENTATION OR MISCONDUCT ON LOKALBUDDY OR IN THE FRAMEWORK OF EXPERIENCE EVENTS HELD BY LOCALS THROUGH LOKALBUDDY,
            COMPANY MAY DECIDE, IN ITS SOLE DISCRETION, TO CREDIT YOU WITH A REFUND FOR THE RESERVATION AMOUNT PAID OR PART THEREOF AND CHARGE THE LOCAL WITH
            THIS AMOUNT. NO ACTION OF THE COMPANY MAY BE CONSTRUED AS ACCEPTING ANY LIABILITY OTHER THAN AS MENTIONED HEREIN.
            <br/>
            <br/>
NOTWITHSTANDING THE FOREGOING, LOKALBUDDY, INCLUDING WITHOUT LIMITATION ANY CONTENT, DATA AND ANY INFORMATION RELATED THERETO, IS PROVIDED ON AN "            <strong>AS IS</strong>" AND "<strong>AS AVAILABLE</strong>" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
            LIMITED TO WARRANTIES OF TITLE OR NON-INFRINGEMENT OR IMPLIED WARRANTIES OF USE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE.
            <br/>
            <br/>
            THE COMPANY DOES NOT WARRANT THAT LOKALBUDDY WILL BE UNINTERRUPTED OR ERROR-FREE. THE COMPANY MAY CORRECT, MODIFY, AMEND, ENHANCE, IMPROVE AND MAKE
            ANY OTHER CHANGES TO LOKALBUDDY AT ANY TIME OR TO DISCONTINUE DISPLAYING OR PROVIDING ANY CONTENT OR FEATURES WITHOUT A NOTICE TO YOU.
            <br/>
            <br/>
            THE COMPANY HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE USE OF LOKALBUDDY, INCLUDING BUT NOT LIMITED TO THE AVAILABILITY,
            RELIABILITY, OR QUALITY OF LOKALBUDDY AND/OR THE EXPERIENCE EVENTS DISTRIBUTED THROUGH LOKALBUDDY, INCLUDING THE NATURE AND QUALITY OF THE
            EXPERIENCES GIVEN AND FOOD SERVED IN SUCH EVENTS, AND IS NOT AND SHALL NOT BE RESPONSIBLE FOR ANY ERROR, FAULT OR MISTAKE OF ANY AND ALL CONTENT
            AND INFORMATION RECEIVED THROUGH LOKALBUDDY, INCLUDING BY LOCAL OR BUDDY. THE COMPANY DOES NOT ENDORSE ANY ENTITY, PRODUCT OR SERVICE MENTIONED IN
            ANY USER GENERATED CONTENT AVAILABLE ON LOCALBUDDY.
        </p>
    </li>
</ol>
<p align="justify">
    <u> </u>
</p>
<ol start="18">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item18'|trans | raw  }}
            <u>Limitation of Liability</u>
            : <strong>THE USE OF LOKALBUDDY AND PARTICIPATION IN ANY EXPERIENCE EVENT IS SOLELY AT YOUR OWN RISK</strong>. EXCEPT AS PROVIDED HEREIN, IN NO
            EVENT SHALL THE COMPANY BE LIABLE FOR ANY DAMAGES WHATSOEVER INCLUDING, BUT NOT LIMITED TO, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES
            OF ANY KIND, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTIONS RESULTING FROM OR ARISING OUT OF LOKALBUDDY OR ANY EXPERIENCE
            EVENT, OR THE USE OR INABILITY TO USE LOKALBUDDY, REGARDLESS OF WHETHER THE COMPANY OR AN AUTHORIZED REPRESENTATIVE OF THE COMPANY HAS BEEN ADVISED
            OF THE POSSIBILITY OF SUCH DAMAGES. EXCEPT WHERE LIABILITY IS MANDATORY, IN WHICH EVENT LIABILITY FOR DAMAGES SHALL BE LIMITED TO YOUR RESERVATION
            FEES.
        </p>
    </li>
</ol>
<ol start="19">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item19'|trans | raw  }}
            <u>Indemnification</u>
            : User shall defend, indemnify, and hold harmless The Company, its affiliates, and each of its and its affiliates’ employees, contractors,
            directors, suppliers, and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees, that arise from or
            relate to your use or misuse of, or access to, LokalBuddy and content, or otherwise from your user submissions, violation of the Terms of Use, or
            infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. The Company
            reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by User, in which event you will
            assist and cooperate with The Company in asserting any available defenses.
        </p>
    </li>
</ol>
<ol start="20">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item20'|trans | raw  }}
            <u>Notification</u>
            : When you visit LokalBuddy, use the Services or send emails to LokalBuddy, you are communicating with us electronically. You consent to receive
            communications from LokalBuddy electronically. LokalBuddy may communicate with you by email or by posting notices on the Services. You agree that
            all agreements, notices, disclosures and other communications that LokalBuddy provides to you electronically satisfy any legal requirement that
            such communications be in writing.
        </p>
    </li>
</ol>
<ol start="21">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item21'|trans | raw  }}
            <u>Jurisdiction and Governing Law:</u>
            We make no representations that the Services, Services Information, the Services or products offered through LokalBuddy are appropriate, available
            or legal in any particular location. Those who choose to access LokalBuddy, Services Information, or the Services and products offered through
            LokalBuddy do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable. You
            agree that these Terms, for all purposes, shall be governed and construed in accordance with the laws of the Commonwealth of Puerto Rico and any
            action based on or alleging a breach of these Terms must be brought in a state or federal court located in the Commonwealth of Puerto Rico, and
            both parties agree to submit to the exclusive personal jurisdiction and venue of such courts.
        </p>
    </li>
</ol>
<ol start="22">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item22'|trans | raw  }}
            <u>Conflict With Other Agreements: </u>
            These Terms are in addition to, and do not nullify, any other agreement between User and LokalBuddy or any other applicable terms and conditions
            found on the Services. In the case of any direct conflict between these Terms and any other agreement between User and LokalBuddy, the provisions
            of such other agreement shall control but only to extent applicable to the conflicting provisions. User agrees to comply with all rules or
            restrictions that are posted on the Services. Notwithstanding the above, when User leave the LokalBuddy Services to use the payment gateway
            services in order to make a payment, your use of that service is governed by their Privacy Notice and their User Agreement.
        </p>
    </li>
</ol>
<ol start="23">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item23'|trans | raw  }}
            <u>Separability:</u>
            In the event that one or more provisions of these Terms shall, for any reason, be held to be unenforceable, the remaining provisions will remain in
            full force and effect.
        </p>
    </li>
</ol>
<ol start="24">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item24'|trans | raw  }}
            <u>Headings:</u>
            The headings used throughout these Terms of Use are solely for the convenience of reference and are not to be used as an aid in the interpretation
            of these Terms of Use.
        </p>
    </li>
</ol>
<ol start="25">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item25'|trans | raw  }}
            <u>No Waiver:</u>
            Any delay or failure by User or LokalBuddy, at any time or times, to require performance of any provision of these Terms of Use shall in no manner
            affect User or LokalBuddy right at a later time to enforce such provision. No delay or failure of User or LokalBuddy in exercising any right
            hereunder shall constitute a waiver of such right or any other rights hereunder.
        </p>
    </li>
</ol>
<ol start="26">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item26'|trans | raw  }}
            <u>Entire Agreement:</u>
            These Terms make up the entire agreement between User and The Company regarding LokalBuddy and supersede any prior agreements.
        </p>
    </li>
</ol>
<ol start="27">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item27'|trans | raw  }}
            <u>Assignment</u>
            : You may not assign your rights or delegate your responsibilities hereunder without express written permission of The Company. The Company may, at
            any time, assign its rights or delegate its obligations hereunder without notice to you.
        </p>
    </li>
</ol>
<ol start="28">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item28'|trans | raw  }}
            <u>Third Party Beneficiary</u>
            : No person not a party to these Terms of Use is intended to be a beneficiary of these Terms of Use, and no person not a party to these Terms of Use
            shall have any right to enforce any term of these Terms of Use.
        </p>
    </li>
</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}
