{% extends 'OdiseoLokalBuddyBundle:Frontend:layout.html.twig' %}
{% trans_default_domain "aboutus_terms" %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript" src="{{ asset('bundles/odiseolokalbuddy/js/web/index.js') }}"></script>
{% endblock %}

{% block content %}
<section id="general">	
</section>

<div class="container margin_30">
	<div class="row">
		<div class="col-md-12">	
			<h2>{{ 'odiseo.lokalbuddy.terms_use'|trans }}</h2>
			<hr>		
			<div class="terms">
<p align="justify">
	{{ ('odiseo.lokalbuddy.initial_text'|trans) | raw }}
</p>
<ol>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item1'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="2">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item2'|trans | raw }}
        </p>
    </li>
</ol>
<ol start="3">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item3'|trans | raw }}
        </p>
    </li>
</ol>
<ol start="4">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item4'|trans | raw }}
        </p>
    </li>
</ol>
<p align="justify">
    {{ 'odiseo.lokalbuddy.item4_text1'|trans | raw }}
</p>
<p align="justify">
	{{ 'odiseo.lokalbuddy.item4_text2'|trans | raw  }}
</p>
<ol start="5">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item5'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="6">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item6'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="7">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7'|trans | raw  }}
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7_text1'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7_text2'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item7_text3'|trans | raw  }}
        </p>
    </li>
</ul>
<p align="justify">
    {{ 'odiseo.lokalbuddy.item7_text4'|trans | raw  }}
</p>
<ol start="8">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item8'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="9">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9'|trans | raw  }}
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text1'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text2'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text3'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text4'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text5'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text6'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text7'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text8'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text9'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text10'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text11'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text12'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text13'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text14'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text15'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text16'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text17'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text18'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text19'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item9_text20'|trans | raw  }}
        </p>
    </li>
</ul>
<ol start="10">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item10'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="11">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11'|trans | raw  }}
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11_text1'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11_text2'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
            <em>
        		{{ 'odiseo.lokalbuddy.item11_text3'|trans | raw  }}
            </em>
        </p>
    </li>
    <li>
        <p align="justify">
            <em>
        		{{ 'odiseo.lokalbuddy.item11_text4'|trans | raw  }}
            </em>
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item11_text5'|trans | raw  }}
        </p>
    </li>
</ul>
<ol start="12">
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12'|trans | raw  }}
        </p>
    </li>
</ol>
<ul>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text1'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text2'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text3'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text4'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text5'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
        	{{ 'odiseo.lokalbuddy.item12_text6'|trans | raw  }}
        </p>
    </li>
</ul>
<p align="justify">
    {{ 'odiseo.lokalbuddy.item12_text7'|trans | raw  }}
</p>
<ul>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text8'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text9'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text10'|trans | raw  }}
        </p>
    </li>
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item12_text11'|trans | raw  }}
        </p>
    </li>
</ul>
<p align="justify">
    <br/>
    {{ 'odiseo.lokalbuddy.item12_text12'|trans | raw  }}
</p>
<p align="center">
    {{ 'odiseo.lokalbuddy.item12_text13'|trans | raw  }}
</p>
<ol start="13">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item13'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="14">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item14'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="15">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item15'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="16">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item16'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="17">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item17'|trans | raw  }}
        </p>
    </li>
</ol>
<p align="justify">
    <u> </u>
</p>
<ol start="18">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item18'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="19">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item19'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="20">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item20'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="21">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item21'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="22">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item22'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="23">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item23'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="24">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item24'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="25">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item25'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="26">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item26'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="27">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item27'|trans | raw  }}
        </p>
    </li>
</ol>
<ol start="28">
    <li>
        <p align="justify">
    		{{ 'odiseo.lokalbuddy.item28'|trans | raw  }}
        </p>
    </li>
</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}
